@tailwind base;
@tailwind components;
@tailwind utilities;

/*
27445D navy
497D74 green
71BBB2 teal
EFE9D5 beige
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #efe9d5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
